/**
  Kabinett – Module Core Base
*/

:root {
  font-size: var(--root-font-size);
  font-family: var(--root-font-family);
  line-height: var(--root-line-height);
  color: var(--root-text-color);
  background-color: var(--root-background-color);
}

* {
  box-sizing: border-box;
}

code, kbd, pre, samp {
  font-family: var(--root-font-monospace-family);
}
